In [1]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv('Autism-Toddler-Data.csv')
df.head()

,Case_No,A1,A2,A3,A4,A5,A6,A7,A8,A9,A10,Age_Mons,Qchat-10-Score,Sex,Ethnicity,Jaundice,Family_mem_with_ASD,Who completed the test,Class/ASD Traits
0,1,0,0,0,0,0,0,1,1,0,1,28,3,f,middle eastern,yes,no,family member,No
1,2,1,1,0,0,0,1,1,0,0,0,36,4,m,White European,yes,no,family member,Yes
2,3,1,0,0,0,0,0,1,1,0,1,36,4,m,middle eastern,yes,no,family member,Yes
3,4,1,1,1,1,1,1,1,1,1,1,24,10,m,Hispanic,no,no,family member,Yes
4,5,1,1,0,1,1,1,1,1,1,1,20,9,f,White European,no,yes,family member,Yes

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1054 entries, 0 to 1053
Data columns (total 19 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Case_No                 1054 non-null   int64
 1   A1                      1054 non-null   int64
 2   A2                      1054 non-null   int64
 3   A3                      1054 non-null   int64
 4   A4                      1054 non-null   int64
 5   A5                      1054 non-null   int64
 6   A6                      1054 non-null   int64
 7   A7                      1054 non-null   int64
 8   A8                      1054 non-null   int64
 9   A9                      1054 non-null   int64
 10  A10                     1054 non-null   int64
 11  Age_Mons                1054 non-null   int64
 12  Qchat-10-Score          1054 non-null   int64
 13  Sex                     1054 non-null   object
 14  Ethnicity               1054 non-null   object
 15  Jaundice                1054 non-null   object
 16  Family_mem_with_ASD     1054 non-null   object
 17  Who completed the test  1054 non-null   object
 18  Class/ASD Traits        1054 non-null   object
dtypes: int64(13), object(6)
memory usage: 156.6+ KB

In [4]:
df['Ethnicity'].value_counts()

White European    334
asian             299
middle eastern    188
south asian        60
black              53
Hispanic           40
Others             35
Latino             26
mixed               8
Pacifica            8
Native Indian       3
Name: Ethnicity, dtype: int64

In [5]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()

In [6]:
for column in df.columns:
    if df[column].dtype==np.number:
        continue
    df[column]=le.fit_transform(df[column])

/var/folders/q7/7j_kwh4x44lb9_z4w5y0yt5m0000gn/T/ipykernel_5318/1696928730.py:2: DeprecationWarning: Converting `np.inexact` or `np.floating` to a dtype is deprecated. The current result is `float64` which is not strictly correct.
  if df[column].dtype==np.number:

In [7]:
df['Ethnicity'].value_counts()

5     334
6     299
8     188
10     60
7      53
0      40
3      35
1      26
9       8
4       8
2       3
Name: Ethnicity, dtype: int64

In [8]:
df.head()

,Case_No,A1,A2,A3,A4,A5,A6,A7,A8,A9,A10,Age_Mons,Qchat-10-Score,Sex,Ethnicity,Jaundice,Family_mem_with_ASD,Who completed the test,Class/ASD Traits
0,0,0,0,0,0,0,0,1,1,0,1,16,3,0,8,1,0,4,0
1,1,1,1,0,0,0,1,1,0,0,0,24,4,1,5,1,0,4,1
2,2,1,0,0,0,0,0,1,1,0,1,24,4,1,8,1,0,4,1
3,3,1,1,1,1,1,1,1,1,1,1,12,10,1,0,0,0,4,1
4,4,1,1,0,1,1,1,1,1,1,1,8,9,0,5,0,1,4,1

In [9]:
final_data = df[['A1','A2','A3','A4','A5','A6','A7','A8','A9','A10',
                'Age_Mons','Sex','Ethnicity','Jaundice','Family_mem_with_ASD','Class/ASD Traits ']]

In [10]:
from sklearn.model_selection import train_test_split
X= final_data.iloc[:,:-1]
y= final_data.iloc[:,-1]
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=101)

In [11]:
#Random Forrest Classifier
from sklearn.ensemble import RandomForestClassifier

In [12]:
rfc= RandomForestClassifier(n_estimators=100)
rfc.fit(X_train,y_train)

RandomForestClassifier()

In [13]:
from sklearn.metrics import classification_report,confusion_matrix
pred_rfc= rfc.predict(X_test)
print(confusion_matrix(y_test,pred_rfc))
print(classification_report(y_test,pred_rfc))

[[ 70   8]
 [  2 131]]
              precision    recall  f1-score   support

           0       0.97      0.90      0.93        78
           1       0.94      0.98      0.96       133

    accuracy                           0.95       211
   macro avg       0.96      0.94      0.95       211
weighted avg       0.95      0.95      0.95       211

In [14]:
import pickle
pickle.dump(rfc, open('model.pkl','wb'))